/************************** Pour le "design" **********************************/
aside {
    border: 1px solid rgba(0, 0, 0, 0.52);
    border-radius: 10px;
}

.content-main {
    margin-top: 50px;
}

.nav li a {
    color: orange;
    text-transform: uppercase;
}

body {
    background-color: #f8f8f8;
}

blockquote{
    background-color: white;
}
#footer {
    background-color: black;
    color: white;
    margin-top: 30px;
}
#contact{
	text-align:right;
	margin-top:10px;
	vertical-align: middle;
}

/******************* Pour les ajustements responsives *************************/
/* Pour que les images s'adaptent à la div qui les contient */
img {
    display: block;
    height: auto;
    max-width: 100%;
	margin-right: auto;
    margin-left: auto;
	margin-bottom : 5px;
}

/* Sinon les blocs sont collés sur mobile */
section, aside {
    margin-bottom: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
